.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.winner {
  margin-top: 50px;
}

.board {
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto auto;
  gap: 2px none;
  transform: translateY(50%);
  margin: auto;
}

:root {
  --length: 100px;
  --primary-color: blue;
  --secondary-color: rgb(237, 65, 65);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}