.button {
    height: var(--length);
    width: var(--length);
    outline: none;
    background-color: white;
    font-size: x-large;
}

.button:disabled{
    border-color: black;
}

.butX{
    color: lightcoral;
}

.butO{
    color: rgb(24, 178, 229);
}

:root {
    --length: 70px
}

.but0{
    border-top: none;
    border-left: none;
}
.but1{
    border-top: none;
}

.but2 {
    border-top: none;
    border-right: none;
}

.but3 {
    border-left: none;
}


.but5 {
    border-right: none;
}

.but6 {
    border-bottom: none;
    border-left: none;
}

.but7{
    border-bottom: none;
}

.but8{
    border-bottom: none;
    border-right: none;
}